{% extends "transaction/base-ui.html" %}
{% load humanize %}
{% load transaction_util %}
{% load staticfiles %}
{% block nav_konversi %}active{% endblock nav_konversi %}
{% block content %}
<div class="container">
	<form class="form-horizontal" action="{% url 'konversi_add' %}" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="span6 offset3 well">
				<h3 id="myModalLabel">Add Konversi</h3>
				{% if form.errors %}
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Error:</strong> {{ form.errors}}
				</div>
				{% endif %}
				<div class="control-group">
					<label class="control-label" for="id_{{ form.tanggal.html_name}}" >{{ form.tanggal.label }}</label>	
					<div class="controls">
						{{ form.tanggal }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_{{ form.kode.html_name}}" >{{ form.kode.label }}</label>	
					<div class="controls">
						{{ form.kode }}
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Simpan</button>
			</div>

		</div>
		<div class="row">
			<div class="span5 well">
				<h4>Input</h4>
				<input class="inputs-counter" type="hidden" name="total" value="1" />
				<div class="dynamic-inputs">
					<div class="inputs">
						{#  #}

					</div>
				</div>
				<div class="toolbar">
					<button type=button class="add-input btn" >+</button>
					<button type=button class="remove-input btn" >-</button>
				</div>
			</div>
			<div class="span5 well">
				<h4>Output</h4>
				<input class="inputs-counter2" type="hidden" name="total2" value="1" />
				<div class="dynamic-inputs2">
					<div class="inputs2">
						{#  #}

					</div>
				</div>
				<div class="toolbar2">
					<button type=button class="add-input2 btn" >+</button>
					<button type=button class="remove-input2 btn" >-</button>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
{% block js_extra %}
{{ block.super }}
<script type="text/javascript">
	var options_in = jQuery.parseJSON('{{ remaining|jsonify_simple|safe }}');
	var options_out = jQuery.parseJSON('{{ category|jsonify_simple|safe }}');
	function getOptionsHTML(){
		var result = "";
		for(var i = 0; i < options_in.length; i++ ){
			result += '<option value="'+ options_in[i].kode +'">'+ options_in[i].kode + '-'+ options_in[i].sisa+'</option>'
		}
		return result;
	}

	function getInputDiv(index){
		return '<div class="single-field"><select name="stok_in'+index+'">'+getOptionsHTML()+'<input type="text" name="jumlah_in'+index+'"/></div>'
	}

	function getOptionsHTML2(){
		var result = "";
		for(var i = 0; i < options_out.length; i++ ){
			result += '<option value="'+ options_out[i].kode +'">'+ options_out[i].kode + '</option>'
		}
		return result;
	}

	function getInputDiv2(index){
		return '<div class="single-field2"><select name="stok_out'+index+'">'+getOptionsHTML2()+'<input type="text" name="jumlah_out'+index+'"/></div>'
	}

	$(document).ready(function(){
		$( "#id_{{ form.tanggal.html_name}}" ).datepicker({ dateFormat: "yy-mm-dd",
			"showAnim" : "slideDown",
			"changeMonth" : true,
			"changeYear" : true});
	});
</script>
<script src="{% static "js/inputs.js" %}"></script>
{% endblock js_extra %}