{% extends "transaction/base-ui.html" %}
{% block nav_activity %}active{% endblock nav_activity %}
{% load staticfiles %}
{% load humanize %}
{% load transaction_util %}
{% block judul %}
Konversi
{% endblock judul%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-primary pull-right" href="{% url 'konversi_add' %}" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Konversi</a>
          <form action="{% url 'konversi'%}" method="post" >
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="content" class="row">
    <div class="span12">
      <table id="table-konversi" class="table table-hover table-condensed table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Kode</th>
            <th>Nota</th>
            <th>Tanggal</th>
            <th>Total Transaksi</th>
            <th>Input Unit</th>
            <th>Output Unit</th>
          </tr>
        </thead>
        <tbody>
          {% for k in konversi %}
          <tr>
            <td class="center">{{forloop.counter}}</td>
            <td class="center">{% konversi_url k.id %}</td>
            <td class="center">{% if_empty k.kode %}</td>
            <td class="center">{{k.tanggal|date:"Y-m-d"}}</td>
            <td class="right">{% calculate_konversi_value k %}</td>
            <td class="right">{% calculate_konversi_total_input_unit k %}</td>
            <td class="right">{% calculate_konversi_total_output_unit k %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="pagination">
        <li><a href="{% url 'konversi' %}">&laquo; Pertama</a></li>
        {% for i in pages %}
          {% if forloop.last %}
            <li><a href="{% url 'konversi' %}?page={{ i }}">Terakhir &raquo;</a></li>
          {% else %}
            <li {% if konversi.number == i %}class="active"{% endif %}><a href="{% url 'konversi' %}?page={{i}}">{{i}}</a></li>
          {% endif%}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
{% block js_extra %}
{{ block.super }}

{% include "transaction/advanced_window_script.html" %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#table-konversi').dataTable( {
      "aoColumnDefs": [ {
        "aTargets": [ 3 ],
        "sType" : "numeric",
      }],
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": true,
      "bSort": true,
      "bInfo": false,
      "bAutoWidth": false,
    } );
  } );
</script>
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/other.js" %}"></script>
{% endblock js_extra %}