{% extends "transaction/base-ui.html" %}
{% load humanize %}
{% load transaction_util %}
{% load staticfiles %}
{% block judul %}
Tambah Konversi
{% endblock judul%}
{% block nav_konversi %}active{% endblock nav_konversi %}
{% block content %}
<div class="container">
	<form class="form-horizontal" action="{% url 'konversi_add' %}" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3 well">
				<h3 id="myModalLabel">Tambah Konversi</h3>
				{% if form.errors %}
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Error:</strong> {{ form.errors}}
				</div>
				{% endif %}
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.tanggal.html_name}}" >{{ form.tanggal.label }}</label>	
					<div class="col-md-10">
						{{ form.tanggal|add_class:"form-control" }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.kode.html_name}}" >{{ form.kode.label }}</label>	
					<div class="col-md-10">
						{{ form.kode|add_class:"form-control" }}
					</div>
				</div>
			</div>
			<div class="col-md-1 col-md-offset-2">
				<button class="btn btn-primary" type="submit">Simpan</button>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6 well">
				<h4>Daftar Input Konversi</h4>
				<div id="inputs" class="row">
					{#  #}

				</div>
				<div class="row">
					<button type=button class="add-input btn" >+</button>
					<button type=button class="remove-input btn" >-</button>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1 well">
				<h4>Daftar Output Konversi</h4>
				<div id="inputs2" class="row">
					{#  #}
				</div>
				<div class="row">
					<button type=button class="add-input2 btn" >+</button>
					<button type=button class="remove-input2 btn" >-</button>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
{% block js_extra %}
{{ block.super }}
<script type="text/javascript">
	var options_in = jQuery.parseJSON('{{ remaining|jsonify_simple|safe }}');
	var options_out = jQuery.parseJSON('{{ category|jsonify_simple|safe }}');

    StockInput($("div#inputs"), {
    	counterName: "total",
		fields: {
			autocomplete: {
				len: 8
			},
			amount: {
				len: 4,
				name: "jumlah_in"
			}
		},
        addButton: $("button.add-input"),
        removeButton: $("button.remove-input"),
        autoComplete: {
        	stockData: options_in,
        	idLabel: "stok_in",
        	key: "kode",
			codeLabel: "kode",
			additionalInfo: {
	        	key: "sisa",
	        	htmlTag: "<code/>",
	        	renderCallback: function(ui,value){
	        		ui.text(value + " tersisa");
	        	}
	        }
    	}
    });

    StockInput($("div#inputs2"), {
    	counterName: "total2",
		fields: {
			autocomplete: {
				len: 8
			},
			amount: {
				len: 4,
				name: "jumlah_out"
			}
		},
        addButton: $("button.add-input2"),
        removeButton: $("button.remove-input2"),
        autoComplete: {
        	stockData: options_out,
        	idLabel: "stok_out",
        	key: "kode",
			codeLabel: "kode"
    	}
    });

	$(document).ready(function(){
		$( "#id_{{ form.tanggal.html_name}}" ).datepicker({ dateFormat: "yy-mm-dd",
			"showAnim" : "slideDown",
			"changeMonth" : true,
			"changeYear" : true});
	});
</script>
{% endblock js_extra %}