{% extends "transaction/base.html" %}
{% load transaction_util %}
{% load humanize %}
{% load staticfiles %}
{% block judul %}
Detail Konversi ID {{ general.0.id }}
{% endblock judul%}
{% block nav_activity %}active{% endblock nav_activity %}
{% block content %}
{% if detail|length < 1 %}
Not Found
{% else %}

<div class="container">
	<div id="content" class="row">
		<div class="col-md-4 well">
			<h3>Konversi ID {{general.0.id}}</h3>
			<form>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
						<input class="form-control" disabled id="tanggal" placeholder="Tanggal Pembelian" type="text" value="{{general.0.tanggal|date:"Y-m-d"}}">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></div>
						<input class="form-control" disabled id="nota" placeholder="Nota" type="text" value="{% if_empty general.0.kode%}">
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-1 col-md-offset-7">
			<button {% if not can_delete %}disabled{% endif %} class="btn btn-danger pull-right" href="#myModal" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span> Hapus</button>
			<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Tutup</span></button>
							<h3 id="myModalLabel" class="modal-header">Hapus Konversi ID {{ general.0.id }}</h3>
						</div>
						<div class="modal-body">
							<p>Apakah anda yakin?</p>
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true" >Batal</button>
							<button class="btn btn-danger" onclick="location.href='{% url 'konversi_del'  general.0.id %}'">Ya</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="row">
		<div class="col-md-6">
			<h3>Input</h3>
			<table class="table table-hover table-condensed table-bordered">
				<thead class="center">
					<tr>
						<th>#</th>
						<th>Kode</th>
						<th>Barang</th>
						<th>Jumlah</th>
						<th>Satuan</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{% for v in detail.in %}
					<tr>
						<td class="center">{{forloop.counter}}</td>
						<td class="center">{% stok_url v.id %}</td>
						<td class="center"><a href="#" data-toggle="tooltip" title="{{v.nama}}">{{v.kode}}</a></td>
						<td class="right">{{v.jumlah2|floatformat:2|intcomma}} dari {{v.jumlah|floatformat:2|intcomma}}</td>
						<td class="right">{{v.harga|floatformat:2|intcomma}}</td>
						<td class="right">{{v.nilai|floatformat:2|intcomma}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="3"></td>
						<td class="right">{{detail.total_unit_in|floatformat:2|intcomma}}</td>
						<td></td>
						<td class="right"><b>{{detail.total_in|floatformat:2|intcomma}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h3>Output</h3>
			<table class="table table-hover table-condensed table-bordered">
				<thead class="center">
					<tr>
						<th>#</th>
						<th>Kode</th>
						<th>Barang</th>
						<th>Jumlah</th>
						<th>Satuan</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{% for v in  detail.out%}
					<tr>
						<td class="center">{{forloop.counter}}</td>
						<td class="center">{% stok_url v.id%}</td>
						<td class="center"><a href="#" data-toggle="tooltip" title="{{v.nama}}">{{v.kode}}</a></td>
						<td class="right">{{v.jumlah|floatformat:2|intcomma}}</td>
						<td class="right">{{v.harga|floatformat:2|intcomma}}</td>
						<td class="right">{{v.nilai|floatformat:2|intcomma}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="3"></td>
						<td class="right">{{detail.total_unit_out|floatformat:2|intcomma}}</td>
						<td></td>
						<td class="right"><b>{{detail.total_out|floatformat:2|intcomma}}</b></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Tracing Output</h3>
			<table class="table table-hover table-condensed table-bordered">
				<thead class="center">
					<tr>
						<th rowspan="2">#</th>
						<th colspan="5">Pembelian</th>
						<th colspan="4">Output</th>
						<th colspan="2">Lain-Lain</th>
					</tr>
					<tr>
						<th>Kode</th>
						<th>Barang</th>
						<th>Jumlah</th>
						<th>Satuan</th>
						<th>Total</th>
						<th>Tipe</th>
						<th>Jumlah</th>
						<th>Harga</th>
						<th>Total</th>
						<th>Sisa</th>
						<th>Profit</th>
					</tr>
				</thead>
				<tbody>
					{% for k,v in tracking.items %}
					{% if v.has %}
					{% for vp in v.keluaran %}
					<tr>
						{% if forloop.counter == 1 %}
						<td class="center" rowspan="{{v.length}}">{{forloop.counter}}</td>
						<td class="center" rowspan="{{v.length}}">{% stok_url v.id %}</td>
						<td class="center" rowspan="{{v.length}}"><a href="#" data-toggle="tooltip" title="{{v.nama}}">{{v.kode}}</a></td>
						<td rowspan="{{v.length}}" class="right">{{v.jumlah|floatformat:2|intcomma}}</td>
						<td rowspan="{{v.length}}" class="right">{{v.harga|floatformat:2|intcomma}}</td>
						<td rowspan="{{v.length}}" class="right">{{v.nilai_beli|floatformat:2|intcomma}}</td>
						{% endif %}
						<td class="center">{% if vp.status == 1 %} {% penjualan_url vp.kode_status %}
							{% else %} {% konversi_url vp.kode_status %}
							{% endif%}
						</td>
						<td class="right">{{vp.jumlah_keluar|floatformat:2|intcomma}}</td>
						<td class="right">{{vp.harga_keluar|floatformat:2|intcomma}}</td>
						<td class="right">{{vp.nilai_keluar|floatformat:2|intcomma}}</td>
						{% if forloop.counter == 1 %}
						<td rowspan="{{v.length}}" class="right">{{vp.sisa|floatformat:2|intcomma}}</td>
						{% endif %}
						<td class="right">{{vp.netto|floatformat:2|intcomma}}</td>
					</tr>
					{% endfor %}
					{% else %}
					<tr>
						<td class="center">{{forloop.counter}}</td>
						<td class="center">{% stok_url v.id %}</td>
						<td class="center"><a href="#" data-toggle="tooltip" title="{{v.nama}}">{{v.kode}}</a></td>
						<td class="right">{{v.jumlah|floatformat:2|intcomma}}</td>
						<td class="right">{{v.harga|floatformat:2|intcomma}}</td>
						<td class="right">{{v.nilai_beli|floatformat:2|intcomma}}</td>
						<td colspan="3"></td>
						<td class="right">0.00</td>
						<td class="right">{{v.jumlah|floatformat:2|intcomma}}</td>
						<td class="right">0.00</td>
					</tr>
					{% endif %}
					{% endfor %}
					<tr>
						<td colspan="3"></td>
						<td class="right">{{ total_unit_pembelian|floatformat:2|intcomma }}</td>
						<td></td>
						<td class="right">{{ total_pembelian|floatformat:2|intcomma }}</td>
						<td colspan="1"></td>
						<td class="right">{{ total_unit_penjualan|floatformat:2|intcomma }}</td>
						<td></td>
						<td class="right">{{ total_penjualan|floatformat:2|intcomma }}</td>
						<td></td>
						<td class="right">{{ total_profit|floatformat:2|intcomma }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}