{% extends "transaction/base.html" %}
{% load humanize %}
{% load transaction_util %}
{% load staticfiles %}
{% block nav_vendor %}active{% endblock nav_vendor %}
{% block nav %} {% endblock nav%}
{% block extra_css %} 
<style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

</style>
{% endblock extra_css%}
{% block content %}
<div class="container">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    {{ form.errors  }}
    <!-- <input type="text" class="input-block-level" placeholder="Email address"> -->
    {{ form.username }}
    <!-- <input type="password" class="input-block-level" placeholder="Password"> -->
    {{ form.password }}
<!--     <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label> -->
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    {% if not next %}
      <input type="hidden" name="next" value="{% url 'home' %}" />
    {% else %}
      <input type="hidden" name="next" value="{{ next }}" />  
    {% endif %}
    
  </form>
</div>
{% endblock content %}