{% extends "transaction/base.html" %}
{% load transaction_util %}
{% load staticfiles %}
{% load humanize %}
{% block judul %}
Nasabah {{ detail.general.nama }}
{% endblock judul%}
{% block content %}
{% if detail.general == None %}
Not found
{% else %}
<div class="container">
      <div class="row">
        <div class="col-md-8 well">
          <div class="row">
            <div class="col-md-5">
              <a href="#" class="thumbnail">
              {% if detail.general.foto %}
                <img src="{{ MEDIA_URL }}{{ detail.general.foto }}" alt="" width="128">
              {% else %}
                <img data-src="holder.js/128x128" alt="">
              {% endif %}
              </a>
              <p>Saldo: {{detail.general.saldo|floatformat:2|intcomma}}</p>
              <p>Sejak: {{detail.general.tanggal_daftar|date:"d-m-Y"}}</p>
            </div>
            <div class="col-md-7">
              <form role="form">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></div>
                    <input class="form-control" disabled id="id" placeholder="Id" type="text" value="{%if_empty detail.general.ktp%}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-question-sign"></span></div>
                    <input class="form-control" disabled id="id" placeholder="Jenis" type="text" value="{{detail.general.jenis}}">
                  </div>
                </div>
                {% ifequal detail.general.jenis "kolektif" %}
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    <input class="form-control" disabled id="nama_pj" placeholder="Nama PJ" type="text" value="{{ detail.general.nama_pj|default:'- (Nama PJ)' }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
                    <input class="form-control" disabled id="no_induk" placeholder="No Induk" type="text" value="{{ detail.general.no_induk|default:'- (No Induk)' }}">
                  </div>
                </div>
                {% endifequal %}
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input class="form-control" disabled id="name" placeholder="Nama" type="text" value="{{detail.general.nama}}">
                  </div>
                </div>
               <div class="form-group">
                  <div class="input-group">
                   <div class="input-group-addon"><span class="glyphicon glyphicon-headphones"></span></div>
                   <input class="form-control" disabled id="telepon" placeholder="Telepon" type="text" value="{%if_empty detail.general.telepon%}">
                 </div>
               </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                    <input class="form-control" disabled id="kota" placeholder="Alamat" type="text" value="{%if_empty detail.general.alamat%}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    <input class="form-control" disabled id="tanggal" placeholder="Tanggal Lahir" type="text" value="{{detail.general.tanggal_lahir}}">
                  </div>
                </div>
                <a class="btn btn-primary" href="{% url 'nasabah_edit' detail.general.id%}">Ubah</a>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="content" class="row">
        <div class="col-md-6">
          <h3>Daftar Pembelian</h3>
          <table class="table table-hover table-condensed table-bordered">
            <thead class="center">
              <tr>
                <th>#</th>
                <th>Kode</th>
                <th>Tanggal</th>
                <th>Total Transaksi</th>
                <th>Total Unit</th>
                <th>Barang</th>
              </tr>
            </thead>
            <tbody>
              {% for pkey, p in detail.pembelian.items %}
              <tr>
                <td class="center">{{forloop.counter}}</td>
                <td class="center">{% pembelian_url p.id %}</td>
                <td class="center">{{p.tanggal|date:"Y-m-d"}}</td>
                <td class="right">{{p.sum|floatformat:2|intcomma}}</td>
                <td class="right">{{p.sum_weight|floatformat:2|intcomma}}</td>
                <td>
                  {% for kkey, k in p.kategori.items %}
                    <code><a href="#" data-toggle="tooltip" title="{{k.nama}}-{{k.nilai|floatformat:2|intcomma}}">{{kkey}}</a></code>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h3>Daftar Penarikan <a href="{% url 'penarikan_add' detail.general.id%}"><span class="label label-success">+</span></a></h3>
          <table class="table table-hover table-condensed table-bordered">
            <thead class="center">
              <tr>
                <th>#</th>
                <th>Kode</th>
                <th>Tanggal</th>
                <th>Total Transaksi</th>
              </tr>
            </thead>
            <tbody>
              {% if detail.penarikans|length < 1 %}
              <tr><td colspan="4">Tidak ada penarikan</td></tr>
              {% else %}
              {% for p in  detail.penarikans%}
              <tr>
                <td class="center">{{forloop.counter}}</td>
                <td class="center">{% penarikan_url p.id%}</td>
                <td class="center">{{p.tanggal|date:"Y-m-d"}}</td>
                <td class="right">{{p.total}}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>

      <div id="content" class="row">
        <div class="col-md-6">
        <h3>Daftar Barang</h3>
          <table class="table table-hover table-condensed table-bordered">
            <thead class="center">
              <tr>
                <th>#</th>
                <th>Kode</th>
                <th>Jumlah</th>
                <th>Nilai</th>
              </tr>
            </thead>
            <tbody>
              {% if detail.stok|length < 1 %}
              <tr><td colspan="4">Tidak ada history stok</td></tr>
              {% else %}
              {% for s in detail.stok %}
              <tr>
                <td class="center">{{forloop.counter}}</td>
                <td class="center"><code><a href="#" data-toggle="tooltip" title="{{s.nama}}">{{s.kode}}</a></code></td>
                <td class="right">{{s.jumlah|floatformat:2|intcomma}}</td>
                <td class="right">{{s.nilai|floatformat:2|intcomma}}</td>
              </tr>
              {% endfor %}
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>
{% endif %}
{% endblock content %}
{% block js_extra %}
<script src="{% static "js/holder/holder.js" %}"></script>
{% endblock js_extra %}
