{% extends "transaction/base-ui.html" %}
{% load humanize %}
{% load transaction_util %}
{% load staticfiles %}
{% block judul %}
Tambah Pembelian
{% endblock judul%}
{% block nav_pembelian %}active{% endblock nav_pembelian %}
{% block content %}
<div class="container">
	<form id="form-pembelian" class="form-horizontal" action="{% url 'pembelian_add' %}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 well">
				<h3>Tambah Pembelian</h3>
				{% if form.errors %}
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Error:</strong> {{ form.errors}}
				</div>
				{% endif %}
				{% csrf_token %}
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.tanggal.html_name}}" >{{ form.tanggal.label }}</label>
					<div class="col-md-10">
						{{ form.tanggal|add_class:"form-control" }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.nota.html_name}}" >{{ form.nota.label }}</label>
					<div class="col-md-10">
						{{ form.nota|add_class:"form-control" }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.nasabah.html_name}}" >{{ form.nasabah.label }}</label>
					<div class="col-md-10">
						<input type="text" id="nasabah-ui" class="form-control" />
						<input type="hidden" id="id_nasabah" name="nasabah" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<h3>Daftar Barang Pembelian</h3>
			<div class="col-md-12">
				<table id="inputs" class="table table-hover table-condensed">
					{#  #}
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="toolbar">
					<button type=button class="add-input btn" >+</button>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-6">
				<button class="btn btn-primary" type="submit">Selesai</button>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
{% block js_extra %}
{{ block.super }}
<script type="text/javascript">
var accounts = jQuery.parseJSON('{{ nasabah_dictionary|jsonify|safe }}')
var options = jQuery.parseJSON('{{ options|jsonify|safe }}');

$(document).ready(function() {
    $("#id_{{ form.tanggal.html_name}}").datepicker({
        dateFormat: "yy-mm-dd",
        "showAnim": "slideDown",
        "changeMonth": true,
        "changeYear": true
    });

    StockInput($("table#inputs"), {
    	form: $("#form-pembelian"),
    	counterName: "total",
		fields: {
			amount: {
				name: "jumlah"
			},
			price: {
				name: "harga"
			}
		},
    	addButton: $("button.add-input"),
    	autoComplete: {
    		stockData: options,
        	fieldName: "stok",
        	key: "id"
    	}
    });

		NasabahAutocomplete($('#nasabah-ui'), $('#id_nasabah'), accounts);
});
</script>
{% endblock js_extra %}
