{% extends "transaction/base-ui.html" %}
{% block nav_activity %}active{% endblock nav_activity %}
{% load staticfiles %}
{% load humanize %}
{% block judul %}
Pembelian
{% endblock judul%}
{% block content %}
{% load transaction_util %}
<div class="container">
	{% if form.errors %}
	<div class="row">
		<div class="span12">
			<div class="alert fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>Error:</strong> {{ form.errors }}
			</div>
		</div>
	</div>
	{% endif %}


	<div class="row">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">

					<a class="btn btn-primary pull-right" href="{% url 'pembelian_add' %}" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Pembelian</a>
				</div>
			</div>
		</div>
	</div>


	<div id="content" class="row">
		<div class="col-md-12">
			<table id="table-pembelian" class="table table-hover table-condensed table-bordered display">
				<thead>
					<tr class="center-head">
						<th>#</th>
						<th>Kode</th>
						<th>Nota</th>
						<th>Nasabah</th>
						<th>Tanggal</th>
						<th>Total Transaksi</th>
						<th>Total Unit</th>
						<th>Barang</th>
					</tr>
				</thead>
				<tbody>
					{% for p in pembelian %}
					<tr>
						<td class="center">{{forloop.counter}}</td>
						<td class="center">{% pembelian_url p.id %}</td>
						<td class="center">{% if p.nota %}{{p.nota}}{% endif %}</td>
						<td>{{p.nasabah.nama}}</td>
						<td class="center">{{p.tanggal|date:"Y-m-d"}}</td>
						<td class="right">{% calculate_gross p %}</td>
						<td class="right">{% calculate_total_unit_pembelian p %}</td>
						<td>
							{% for stock_code in p.stocks.all|unique_item %}
							<code>{{ stock_code }}</code>
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="pagination">
				<li><a href="{% url 'pembelian' %}">&laquo; Pertama</a></li>
				{% for i in pages %}
					{% if forloop.last %}
						<li><a href="{% url 'pembelian' %}?page={{ i }}">Terakhir &raquo;</a></li>
					{% else %}
						<li {% if pembelian.number == i %}class="active"{% endif %}><a href="{% url 'pembelian' %}?page={{i}}">{{i}}</a></li>
					{% endif%}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>


{% endblock content %}
{% block js_extra %}
{{ block.super }}
<script type="text/javascript">
	$(document).ready(function() {
		$('#table-pembelian').dataTable( {
			"aoColumnDefs": [ {
				"aTargets": [ 4 ],
				"sType" : "numeric",
			}],
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
		} );
	} );
</script>
{% include "transaction/advanced_window_script.html" %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
{% endblock js_extra %}