{% extends "transaction/base-ui.html" %}
{% load humanize %}
{% load transaction_util %}
{% load staticfiles %}
{% block judul %}
Edit Penjualan {{ penjualan.id }}
{% endblock judul%}
{% block nav_penjualan %}active{% endblock nav_penjualan %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 well">
			<form class="form-horizontal" action="{% url 'penjualan_edit' penjualan.id %}" method="post">
				<input type="hidden" name="penjualan_id" value="{{ penjualan.id }}" />
				{% csrf_token %}
				<h3>Edit Penjualan</h3>
				{% if form.errors %}
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Error:</strong> {{ form.errors }}
				</div>
				{% endif %}
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.tanggal.html_name}}" >{{ form.tanggal.label }}</label>	
					<div class="col-md-10">
						{{ form.tanggal|add_class:"form-control" }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.nota.html_name}}" >{{ form.nota.label }}</label>	
					<div class="col-md-10">
						{{ form.nota|add_class:"form-control" }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="id_{{ form.vendor.html_name}}" >{{ form.vendor.label }}</label>	
					<div class="col-md-10">
						{{ form.vendor|add_class:"form-control" }}
					</div>
				</div>

				<h3>Daftar Barang Penjualan</h3>
				<div class="row">
					<div class="col-md-12">
						<div id="inputs">
							{#  #}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="toolbar">
							<button type=button class="add-input btn" >+</button>
							<button type=button class="remove-input btn" >-</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-10">
						<button class="btn btn-primary" type="submit">Selesai</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
{% block js_extra %}
{{ block.super }}
<script type="text/javascript">
var options = jQuery.parseJSON('{{ remaining|jsonify_simple|safe }}');
var penjualan = jQuery.parseJSON('{{ penjualan|jsonify_simple|safe }}');

$(document).ready(function() {
    $("#id_{{ form.tanggal.html_name}}").datepicker({
        dateFormat: "yy-mm-dd",
        "showAnim": "slideDown",
        "changeMonth": true,
        "changeYear": true
    });

    StockInput($("div#inputs"), {
    	counterName: "total",
		fields: {
			autocomplete: {
				len: 6
			},
			amount: {
				len: 3,
				name: "jumlah"
			},
			price: {
				len: 3,
				name: "harga"
			}
		},
        addButton: $("button.add-input"),
        removeButton: $("button.remove-input"),
        autoComplete: {
        	stockData: options,
        	idLabel: "stok",
        	key: "kode",
			codeLabel: "kode",
			additionalInfo: {
	        	key: "sisa",
	        	htmlTag: "<code/>",
	        	renderCallback: function(ui,value){
	        		ui.text(value + " tersisa");
	        	}
	        }
    	},
    	initial: penjualan.detailPenjualanList
    });
});
</script>
{% endblock js_extra %}