{% extends "transaction/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load transaction_util %}
{% block nav_activity %}active{% endblock nav_activity %}
{% block content %}
{% if general|length < 1 %}
Not found
{% else %}

<div class="container">
  <div id="content" class="row">
    <div class="span12">
      
      <button class="btn btn-danger pull-right" href="#myModal" data-toggle="modal"><i class="icon-remove icon-white"></i> Hapus</button>
      <button class="btn btn-success pull-right" onclick="location.href='{% url  'penjualan_print' general.0.id %}'"><i class="icon-print icon-white"></i> Cetak</button>
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Hapus Penjualan ID {{ general.0.id }}</h3>
        </div>
        <div class="modal-body">
          <p>Apakah anda yakin?</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true" >Batal</button>
          <button class="btn btn-danger" onclick="location.href='{% url 'penjualan_del'  general.0.id %}'">Ya</button>
        </div>
      </div>

      <h3>Penjualan ID {{general.0.id}}</h3>
      <form>
        <div class="input-prepend">
          <span class="add-on">{% vendor_url general.0.vendor.id %}</span>
          <input disabled id="name" placeholder="Nama" type="text" value="{{general.0.vendor.nama}}">
        </div>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-tag"></i></span>
          <input disabled id="nota" placeholder="Nota" type="text" value="{{general.0.nota}}">
        </div>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-calendar"></i></span>
          <input id="tanggal" placeholder="Tanggal Pembelian" type="text" value="{{general.0.tanggal|date:"Y-m-d"}}" disabled>
        </div>
      </form>
      <table class="table table-hover table-condensed table-bordered">
        <thead class="center">
          <tr>
            <th rowspan="2">#</th>
            <th colspan="4">Penjualan</th>
            <th colspan="5">Input</th>
          </tr>
          <tr>
            <th>Barang</th>
            <th>Jumlah</th>
            <th>Satuan</th>
            <th>Total</th>
            <th>Kode-Stok</th>
            <th>Tanggal</th>
            <th>Jumlah</th>
            <th>Satuan</th>
            <th>Total</th>
            <th>Profit</th>
          </tr>
        </thead>
        <tbody>
          {% for p in penjualan_detail %}
          <tr>
            <td class="center">{{forloop.counter}}</td>
            <td class="right"><a href="#" data-toggle="tooltip" title="{{p.snama}}">{{p.kode}}</a></td>
            <td class="right">{{p.jumlah|floatformat:2|intcomma}}</td>
            <td class="right">{{p.pharga|floatformat:2|intcomma}}</td>
            <td class="right">{{p.bruto|floatformat:2|intcomma}}</td>
            <td class="right">{% stok_url p.sid %}</td>
            <td class="center">{{p.tanggal|date:"Y-m-d"}}</td>
            <td class="right">{{p.sjumlah|floatformat:2|intcomma}}</td>
            <td class="right">{{p.sharga|floatformat:2|intcomma}}</td>
            <td class="right">{{p.invest|floatformat:2|intcomma}}</td>
            <td class="right">{{p.netto|floatformat:2|intcomma}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4"></td>
            <td class="right">{{total_penjualan|floatformat:2|intcomma}}</td>
            <td colspan="4"></td>
            <td class="right">{{total_pembelian|floatformat:2|intcomma}}</td>
            <td class="right">{{total_profit|floatformat:2|intcomma}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}