{% extends "transaction/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load transaction_util %}
{% block judul %}
Detail Penjualan ID {{general.0.id}}
{% endblock judul%}
{% block nav_activity %}active{% endblock nav_activity %}
{% block content %}
{% if general|length < 1 %}
Not found
{% else %}

<div class="container">
  <div id="content" class="row">
    <div class="col-md-4 well">
      <h3>Penjualan ID {{general.0.id}}</h3>
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">{% vendor_url general.0.vendor.id %}</div>
            <input class="form-control" disabled id="name" placeholder="Nama" type="text" value="{{general.0.vendor.nama}}">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></i></div>
            <input class="form-control" disabled id="nota" placeholder="Nota" type="text" value="{% if_empty general.0.nota%}">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
            <input class="form-control" id="tanggal" placeholder="Tanggal Pembelian" type="text" value="{{general.0.tanggal|date:"Y-m-d"}}" disabled>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-1 col-md-offset-6">
      <button class="btn btn-success pull-right" onclick="location.href='{% url  'penjualan_print' general.0.id %}'"><span class="glyphicon glyphicon-print"></span> Cetak</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger pull-right" href="#myModal" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span> Hapus</button>
      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Tutup</span></button>
              <h3 id="myModalLabel" class="modal-header">Hapus Penjualan ID {{ general.0.id }}</h3>
            </div>
            <div class="modal-body">
              <p>Apakah anda yakin?</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true" >Batal</button>
              <button class="btn btn-danger" onclick="location.href='{% url 'penjualan_del'  general.0.id %}'">Ya</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-condensed table-bordered">
        <thead class="center">
          <tr>
            <th rowspan="2">#</th>
            <th colspan="4">Penjualan</th>
            <th colspan="3">Input</th>
            <th rowspan="2">Profit</th>
          </tr>
          <tr>
            <th>Barang</th>
            <th>Jumlah</th>
            <th>Satuan</th>
            <th>Total</th>
            <th>Kode-Stok</th>
            <th>Satuan</th>
            <th>Nilai</th>
          </tr>
        </thead>
        <tbody>
          {% for p in penjualan_detail %}
          <tr>
            <td class="center">{{forloop.counter}}</td>
            <td class="right"><a href="#" data-toggle="tooltip" title="{{p.snama}}">{{p.kode}}</a></td>
            <td class="right">{{p.jumlah|floatformat:2|intcomma}}</td>
            <td class="right">{{p.pharga|floatformat:2|intcomma}}</td>
            <td class="right">{{p.bruto|floatformat:2|intcomma}}</td>
            <td class="right">{% stok_url p.sid %}</td>
            <td class="right">{{p.sharga|floatformat:2|intcomma}}</td>
            <td class="right">{{p.invest|floatformat:2|intcomma}}</td>
            <td class="right">{{p.netto|floatformat:2|intcomma}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4"></td>
            <td class="right">{{total_penjualan|floatformat:2|intcomma}}</td>
            <td colspan="2"></td>
            <td class="right">{{total_pembelian|floatformat:2|intcomma}}</td>
            <td class="right">{{total_profit|floatformat:2|intcomma}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
</div>
{% endif %}
{% endblock content %}