{% extends "transaction/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load transaction_util %}
{% block judul %}
Print Penjualan ID {{ general.0.id }}
{% endblock judul%}
{% block nav %}
	
{% endblock nav %}
{% block content %}
{% if general|length < 1 %}
Not found
{% else %}

<div class="container">
  <div id="content" class="row">
    <div class="col-md-4 well">
      <h3>Penjualan ID {{general.0.id}}</h3>
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">{% vendor_url general.0.vendor.id %}</div>
            <input class="form-control" disabled id="name" placeholder="Nama" type="text" value="{{general.0.vendor.nama}}">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></i></div>
            <input class="form-control" disabled id="nota" placeholder="Nota" type="text" value="{% if_empty general.0.nota%}">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
            <input class="form-control" id="tanggal" placeholder="Tanggal Pembelian" type="text" value="{{general.0.tanggal|date:"Y-m-d"}}" disabled>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-condensed table-bordered">
        <thead class="center">
          <tr>
            <th rowspan="2">#</th>
            <th colspan="4">Penjualan</th>
            <th colspan="5">Input</th>
          </tr>
          <tr>
            <th>Barang</th>
            <th>Jumlah</th>
            <th>Satuan</th>
            <th>Total</th>
            <th>Kode-Stok</th>
            <th>Tanggal</th>
            <th>Jumlah</th>
            <th>Satuan</th>
            <th>Total</th>
            <th>Profit</th>
          </tr>
        </thead>
        <tbody>
          {% for p in penjualan_detail %}
          <tr>
            <td class="center">{{forloop.counter}}</td>
            <td class="right"><a href="#" data-toggle="tooltip" title="{{p.snama}}">{{p.kode}}</a></td>
            <td class="right">{{p.jumlah|floatformat:2|intcomma}}</td>
            <td class="right">{{p.pharga|floatformat:2|intcomma}}</td>
            <td class="right">{{p.bruto|floatformat:2|intcomma}}</td>
            <td class="right">{% stok_url p.sid %}</td>
            <td class="center">{{p.tanggal|date:"Y-m-d"}}</td>
            <td class="right">{{p.sjumlah|floatformat:2|intcomma}}</td>
            <td class="right">{{p.sharga|floatformat:2|intcomma}}</td>
            <td class="right">{{p.invest|floatformat:2|intcomma}}</td>
            <td class="right">{{p.netto|floatformat:2|intcomma}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4"></td>
            <td class="right">{{total_penjualan|floatformat:2|intcomma}}</td>
            <td colspan="4"></td>
            <td class="right">{{total_pembelian|floatformat:2|intcomma}}</td>
            <td class="right">{{total_profit|floatformat:2|intcomma}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
</div>
{% endif %}
{% endblock content %}