{% extends "transaction/base-ui.html" %}
{% load transaction_util %}
{% load humanize %}
{% load staticfiles %}
{% block nav_activity %}active{% endblock nav_activity %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="btn btn-primary pull-right" href="{% url 'penjualan_add' %}" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Penjualan</a>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="row">
		<div class="col-md-12">
			<table id="table-penjualan" class="table table-hover table-condensed table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Kode</th>
						<th>Nota</th>
						<th>Vendor</th>
						<th>Tanggal</th>
						<th>Nilai Transaksi</th>
					</tr>
				</thead>
				<tbody>
					{% for p in penjualan  %}
					<tr>
						<td class="center">{{forloop.counter}}</td>
						<td class="center">{% penjualan_url p.id %}</td>
						<td class="center">{% if p.nota %}{{p.nota}}{% endif %}</td>
						<td>{{p.vendor.nama}}</td>
						<td class="center">{{p.tanggal|date:"Y-m-d"}}</td>
						<td class="right">{% calculate_gross p%}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="pagination">
				<li><a href="{% url 'penjualan' %}">&laquo; Pertama</a></li>
				{% for i in pages %}
					{% if forloop.last %}
						<li><a href="{% url 'penjualan' %}?page={{ i }}">Terakhir &raquo;</a></li>
					{% else %}
						<li {% if penjualan.number == i %}class="active"{% endif %}><a href="{% url 'penjualan' %}?page={{i}}">{{i}}</a></li>
					{% endif%}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
{% block js_extra %}
{{ block.super }}

{% include "transaction/advanced_window_script.html" %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#table-penjualan').dataTable( {
			"aoColumnDefs": [ {
				"aTargets": [ 5 ],
				"sType" : "numeric",
			},{
				"aTargets": [ 6 ],
				"sType" : "numeric",
			}],
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
		} );
	} );

</script>
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/other.js" %}"></script>
{% endblock js_extra %}