{% extends "transaction/base-ui.html" %}
{% block nav_report %}active{% endblock nav_report %}
{% load staticfiles %}
{% load humanize %}
{% block judul %}
Utang Nasabah {{ kind|capfirst }}
{% endblock judul%}
{% block content %}
{% load transaction_util %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Daftar Utang Nasabah {{ kind|capfirst }}</h3>
		</div>
		<div class="col-md-3 pull-right">
			<b>Total : </b>
			<input readonly="" class="form-control input-sm" style="text-align:right" value="{{ total_value|floatformat:2|intcomma }}" type="text">
		</div>
	</div>
	<div id="content" class="row">
		<div class="col-md-12">
			<table id="table-pembelian" class="table table-hover table-condensed table-bordered display">
				<thead>
					<tr class="center-head">
						<th>#</th>
						<th>Kode</th>
						<th>Nota</th>
						<th>Nasabah</th>
						<th>Tanggal</th>
						<th>Jatuh Tempo</th>
						<th>Total Transaksi</th>
						<th>Belum Lunas</th>
						<th>Total Utang</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for nasabah_id, unsettled_entry in unsettled_entries.items %}
					{% for pembelian in unsettled_entry.pembelians %}
					<tr>
						{% if forloop.counter == 1 %}
						<td class="center" rowspan="{{unsettled_entry.pembelians|length}}">{{forloop.parentloop.counter}}</td>
						{% endif %}
						<td class="center">{% pembelian_url pembelian.id %}</td>
						<td class="center">{% if pembelian.nota %}{{pembelian.nota}}{% endif %}</td>
						{% if forloop.counter == 1 %}
						<td class="center" rowspan="{{unsettled_entry.pembelians|length}}">
							{% nasabah_url unsettled_entry.nasabah.id %}{{unsettled_entry.nasabah.nama}}
						</td>
						{% endif %}
						<td class="center">{{pembelian.tanggal|date:"Y-m-d"}}</td>
						<td class="center">{% deadline pembelian.tanggal %}</td>
						<td class="right">{{ pembelian.total_value|floatformat:2|intcomma }}</td>
						<td class="right">{{ pembelian.unsettled_value|floatformat:2|intcomma }}</td>
						{% if forloop.counter == 1 %}
						<td class="right" rowspan="{{unsettled_entry.pembelians|length}}">{{ unsettled_entry.total|floatformat:2|intcomma }}</td>
						<td class="center" rowspan="{{unsettled_entry.pembelians|length}}">
							<a href="{% url 'penarikan_add' unsettled_entry.nasabah.id %}"> Penarikan <span class="glyphicon glyphicon-tag"></a>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock content %}
{% block js_extra %}
{{ block.super }}
{% include "transaction/advanced_window_script.html" %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
{% endblock js_extra %}
